<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <classPathEntry location="C:\Users\97775\.IntelliJIdea2017.2\config\jdbc-drivers\SQL Server\6.0.8112.100\sqljdbc42-6.0.8112.100.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection userId="sa" password="sa" driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver" connectionURL="jdbc:sqlserver://localhost\CF4N73CVRQITJ82:1433;databaseName=TIME_BANK"/>




        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.timebank.domain" targetProject=".">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject=".">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="com.timebank.mapper" type="XMLMAPPER" targetProject=".">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!--<table schema="dbo" tableName="ACTIVITY" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="ACTPART" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="COMMUNITY" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="COMPLAIN" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="GROUP" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="REQEST" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="RESPOND" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="ROLE" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="TRANSFER" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="TYPE" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table schema="dbo" tableName="ACTIVITY" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <table schema="dbo" tableName="USERS" enableCountByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" enableUpdateByExample="true"/>
        <!--<table schema="dbo" tableName="WEIGHT" enableCountByExample="true" enableDeleteByExample="true"-->
               <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
    </context>
</generatorConfiguration>