<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="basepage :: common_header(~{::title},~{::script})">
    <title>发布请求</title>
    <meta charset="UTF-8">
    <script th:inline="javascript">
        var address=[[${address}]];
        var jd=[[${jd}]];
        var wd=[[${wd}]];
        var message=[[${message}]];
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById('reqAddress').value = address;
            document.getElementById('jd').value = jd;
            document.getElementById('wd').value = wd;
            var startTime = laydate.render({
                elem: '#reqAvailableStartTime',//指定元素
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                min: 0, //设定最小日期为当前日期
                max: '2099-06-16 23:59:59',
                done: function (value,dates) {
                    endTime.config.min={
                        year:dates.year,
                        month:dates.month-1,//关键
                        date: dates.date,
                        hours: dates.hours,
                        minutes: dates.minutes,
                        seconds : dates.seconds
                    }
                }
            });
            var endTime = laydate.render({
                elem: '#reqAvailableEndTime', //指定元素
                type: 'datetime',
                format: "yyyy-MM-dd HH:mm:ss",
                min: 0,
                max: '2099-06-16 23:59:59',
                istime: true,
                istoday: false,
                done: function (value,dates) {
                    startTime.config.max={
                        year:dates.year,
                        month:dates.month-1,//关键
                        date: dates.date,
                        hours: dates.hours,
                        minutes: dates.minutes,
                        seconds : dates.seconds
                    }
                }
            });
            var startTime1 = laydate.render({
                elem:'#reqStartTime' ,//指定元素
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                min: 0, //设定最小日期为当前日期
                max: '2099-06-16 23:59:59',
                done: function (value,dates) {
                    endTime1.config.min={
                        year:dates.year,
                        month:dates.month-1,//关键
                        date: dates.date,
                        hours: dates.hours,
                        minutes: dates.minutes,
                        seconds : dates.seconds
                    }
                }
            });
            var endTime1 = laydate.render({
                elem:  '#reqEndTime' , //指定元素
                type: 'datetime',
                format: "yyyy-MM-dd HH:mm:ss",
                min: 0,
                max: '2099-06-16 23:59:59',
                istime: true,
                istoday: false,
                done: function (value,dates) {
                    startTime1.config.max={
                        year:dates.year,
                        month:dates.month-1,//关键
                        date: dates.date,
                        hours: dates.hours,
                        minutes: dates.minutes,
                        seconds : dates.seconds
                    }
                }
            });
            $('#REQESTInputForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    reqAddress: {
                        message: '请求提出地址验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求提出地址不能为空'
                            },
                            stringLength: {
                                min: 5,
                                max: 35,
                                message: '请求提出地址长度必须在5到35位之间'
                            },
                            regexp: {
                                regexp: /^[^%_&!@#*',;=?$x]+$/,
                                message: '请求提出地址格式不包括特殊字符'
                            }
                        }
                    },
                    reqTitle: {
                        message: '请求的标题验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求的标题不能为空'
                            },
                            stringLength: {
                                min: 5,
                                max: 15,
                                message: '请求的标题长度必须在5到15位之间'
                            },
                            regexp: {
                                regexp: /[\u4e00-\u9fa5]+$/,
                                message: '请求的标题只能包含中文'
                            }
                        }
                    },
                    reqDesp: {
                        message: '请求描述验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求描述不能为空'
                            },
                            stringLength: {
                                min: 5,
                                max: 120,
                                message: '只能输入中文且必须在5到120字之间'
                            }
                        }
                    },

                    reqComment: {
                        message: '请求补充验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求补充不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 100,
                                message: '请求补充长度必须在2到100位之间'
                            },
                            regexp: {
                                regexp: /^[^%_&!@#*',;=?$x]+$/,
                                message: '请求补充格式不包括特殊字符'
                            }
                        }
                    },
                    reqTypeGuidClass: {
                        message: '请求分类验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求分类不能为空'
                            }
                        }
                    },
                    reqAvailableStartTime: {
                        message: '请求可用开始时间验证失败',
                        trigger:'change',
                        validators: {
                            notEmpty: {
                                message: '请求可用开始时间不能为空'
                            }
                        }
                    },
                    reqAvailableEndTime: {
                        message: '请求可用结束时间验证失败',
                        trigger:'change',
                        validators: {
                            notEmpty: {
                                message: '请求可用结束时间不能为空'
                            }
                        }
                    },
                    reqRreDurationTime: {
                        message: '预计持续时间验证失败',
                        validators: {
                            notEmpty: {
                                message: '预计持续时间不能为空'
                            },
                            regexp: {
                                regexp:/^[0-9]*[1-9][0-9]*$/,
                                message: '预计持续时间只能包含整数，例如1'
                            }
                        }
                    },
                    reqPreCunsumeCurrency: {
                        message: '估计消耗货币验证失败',
                        validators: {
                            notEmpty: {
                                message: '估计消耗货币不能为空'
                            },
                            regexp: {
                                regexp: /^[1-9]d*.d*|0.d*[1-9]d*$/,
                                message: '估计消耗货币只能包含正浮点数，例如1.0'
                            }
                        }
                    },
                    reqStartTime: {
                        message: '请求服务开始时间验证失败',
                        trigger:'change',
                        validators: {
                            notEmpty: {
                                message: '请求服务开始时间不能为空'
                            }
                        }
                    },
                    reqEndTime: {
                        message: '请求服务结束时间验证失败',
                        trigger:'change',
                        validators: {
                            notEmpty: {
                                message: '请求服务结束时间不能为空'
                            }
                        }
                    },
                    reqActualConsumeCurrency: {
                        message: '请求实际消耗货币验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求实际消耗货币不能为空'
                            },
                            regexp: {
                                regexp: /^[1-9]d*.d*|0.d*[1-9]d*$/,
                                message: '请求实际消耗货币只能包含正浮点数'
                            }
                        }
                    },
                    reqActualDurationTime: {
                        message: '请求持续时长度验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求持续时间不能为空'
                            },
                            regexp: {
                                regexp: /^[0-9]*[1-9][0-9]*$/,
                                message: '请求持续时间长度只能是整数，例如1'
                            }
                        }
                    },
                    reqPersonNum: {
                        message: '请求需要人数验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求需要人数不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 20,
                                message: '请求需要人数长度必须在1到20位之间'
                            },
                            regexp: {
                                regexp:/^[0-9]*[1-9][0-9]*$/,
                                message: '请求需要人数只能是正整数'
                            }
                        }
                    },
                    reqTypeGuidUrgency: {
                        message: '请求紧急程度验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求紧急程度不能为空'
                            }
                        }
                    },
                    reqFromWeightGuid: {
                        message: '请求权值验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求权值不能为空'
                            }
                        }
                    },
                    reqProcessUserGuid: {
                        message: '请求处理人验证失败',
                        validators: {
                            notEmpty: {
                                message: '请求处理人不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 5,
                                message: '请求处理人长度必须在2到5位之间'
                            },
                            regexp: {
                                regexp: /[u4e00-u9fa5]+$/,
                                message: '请求处理人只能输入中文'
                            }
                        }
                    }
                }

            });
        });
    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-danger">
            <div th:replace="basepage::contextheader"></div>
        </div>
    </div>
    <div class="row clearfix bg-success">
        <div class="col-md-2 bg-primary ">
            <div th:replace="basepage::contextleftnav"></div>
        </div>
        <div class="col-md-10 bg-danger">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        服务申请
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="REQESTInputForm" name="REQESTInputForm" method="post" class="form-horizontal"
                          action="/applySubmit"  role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" >
                        <div class="row" >

                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqAddress" >服务地址：</label>
                                <div class="col-lg-9">
                                    <input  id="reqAddress" name="reqAddress" class="form-control"  placeholder="请输入详细服务地址">
                                    </input>
                                </div>
                            </div>
                            <li id="dingwei"><a th:href="@{/mybank}"> 点击进行定位</a></li>
                            <div class="form-group  col-lg-6" hidden="hidden">
                                <label class="control-label col-lg-3"  >经度：</label>
                                <div class="col-lg-9">
                                    <input  id="jd" name="jd" class="form-control" value="经度"  >
                                    </input>

                                </div>
                            </div>
                            <div class="form-group  col-lg-6" hidden="hidden">
                                <label class="control-label col-lg-3"  >纬度：</label>
                                <div class="col-lg-9">
                                    <input id="wd" name="wd" class="form-control"  value="纬度" >
                                    </input>
                                </div>
                            </div>

                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTitle" >请求标题：</label>
                                <div class="col-lg-9">
                                    <input  id="reqTitle" name="reqTitle" class="form-control" placeholder="录入请求标题">
                                    </input>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqDesp" >请求描述：</label>
                                <div class="col-lg-9">
									<textarea rows="5" id="reqDesp" name="reqDesp" class="form-control" placeholder="录入请求描述" onmousedown="s(event,this)">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqComment" >请求补充：</label>
                                <div class="col-lg-9">
									<textarea rows="5" id="reqComment" name="reqComment" class="form-control" placeholder="录入请求补充" onmousedown="s(event,this)">
                                    </textarea>
                                </div>
                            </div>

                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTypeGuidClass" >选择请求分类：</label>
                                <div class="col-lg-9">
                                    <select name="reqTypeGuidClass" id="reqTypeGuidClass" class="form-control">
                                        <option th:each="typex:${type2}" th:value="${typex.typeGuid}" th:text="${typex.typeTitle}" ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTypeGuidUrgency" >选择请求紧急程度：</label>
                                <div class="col-lg-9">
                                    <select name="reqTypeGuidUrgency" id="reqTypeGuidUrgency" class="form-control">
                                        <option th:each="typex:${type3}" th:value="${typex.typeGuid}" th:text="${typex.typeTitle}" ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqFromWeightGuid" >选择请求权值：</label>
                                <div class="col-lg-9">
                                    <select name="reqFromWeightGuid" id="reqFromWeightGuid" class="form-control">
                                        <option th:each="weightx:${weights}" th:value="${weightx.weightGuid}" th:text="${weightx.weightTitle}" ></option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqAvailableStartTime" >设定请求可用开始时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqAvailableStartTime" name="reqAvailableStartTime" class="form_datetime form-control " type="text"  placeholder="录入请求可用开始时间" />
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqAvailableEndTime" >设定请求可用结束时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqAvailableEndTime" name="reqAvailableEndTime" class="form_datetime form-control " type="text"  placeholder="录入请求可用结束时间" />
                                </div>
                            </div>

                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqRreDurationTime" >预计持续时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqRreDurationTime" name="reqRreDurationTime" type="text" class="form-control" placeholder="录入预计持续时间"/>
                                </div>
                            </div>

                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqPreCunsumeCurrency" >估计消耗货币：</label>
                                <div class="col-lg-9">
                                    <input onkeyup="value=value.replace(/[^.\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" id="reqPreCunsumeCurrency" name="reqPreCunsumeCurrency" type="text" class="form-control" placeholder="格式为正整数"
                                    /><b>元</b>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqStartTime" >设定请求服务开始时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqStartTime" name="reqStartTime" class="form_datetime form-control " type="text"  placeholder="录入请求服务开始时间"
                                    />
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqEndTime" >设定请求服务结束时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqEndTime" name="reqEndTime" class="form_datetime form-control " type="text"  placeholder="录入请求服务结束时间"
                                    />
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" hidden="hidden">
                                <label class="control-label col-lg-3" for="reqActualConsumeCurrency" >请求实际消耗货币：</label>
                                <div class="col-lg-9">
                                    <input id="reqActualConsumeCurrency" name="reqActualConsumeCurrency" type="text" class="form-control" placeholder="录入请求实际消耗货币"
                                    /><b>元</b>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqActualDurationTime" >请求持续时间长度：</label>
                                <div class="col-lg-9">
                                    <input onkeyup="value=value.replace(/[^.\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" id="reqActualDurationTime" name="reqActualDurationTime" type="text" class="form-control" placeholder="录入请求持续时间长度"
                                    /><b>小时</b>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqPersonNum" >请求需要人数：</label>
                                <div class="col-lg-9">
                                    <input id="reqPersonNum" name="reqPersonNum" type="text" class="form-control" placeholder="录入请求需要人数"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="btnSubmit" class="btn btn-primary" type="submit" value="保 存"/>&nbsp;
                            <input id="btnCancel" class="btn" type="button" value="返 回" onclick="history.go(-1)"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
//        var startTime = laydate.render({
//            elem: '#reqAvailableStartTime',//指定元素
//            type: 'datetime',
//            format: 'yyyy-MM-dd HH:mm:ss',
//            min: 0, //设定最小日期为当前日期
//            max: '2099-06-16 23:59:59',
//            done: function (value,dates) {
//                endTime.config.min={
//                    year:dates.year,
//                    month:dates.month-1,//关键
//                    date: dates.date,
//                    hours: dates.hours,
//                    minutes: dates.minutes,
//                    seconds : dates.seconds
//                }
//            }
//        });
//        var endTime = laydate.render({
//            elem: '#reqAvailableEndTime', //指定元素
//            type: 'datetime',
//            format: "yyyy-MM-dd HH:mm:ss",
//            min: 0,
//            max: '2099-06-16 23:59:59',
//            istime: true,
//            istoday: false,
//            done: function (value,dates) {
//                startTime.config.max={
//                    year:dates.year,
//                    month:dates.month-1,//关键
//                    date: dates.date,
//                    hours: dates.hours,
//                    minutes: dates.minutes,
//                    seconds : dates.seconds
//                }
//            }
//        });
//        var startTime1 = laydate.render({
//            elem:'#reqStartTime' ,//指定元素
//            type: 'datetime',
//            format: 'yyyy-MM-dd HH:mm:ss',
//            min: 0, //设定最小日期为当前日期
//            max: '2099-06-16 23:59:59',
//            done: function (value,dates) {
//                endTime1.config.min={
//                    year:dates.year,
//                    month:dates.month-1,//关键
//                    date: dates.date,
//                    hours: dates.hours,
//                    minutes: dates.minutes,
//                    seconds : dates.seconds
//                }
//            }
//        });
//        var endTime1 = laydate.render({
//            elem:  '#reqEndTime' , //指定元素
//            type: 'datetime',
//            format: "yyyy-MM-dd HH:mm:ss",
//            min: 0,
//            max: '2099-06-16 23:59:59',
//            istime: true,
//            istoday: false,
//            done: function (value,dates) {
//                startTime1.config.max={
//                    year:dates.year,
//                    month:dates.month-1,//关键
//                    date: dates.date,
//                    hours: dates.hours,
//                    minutes: dates.minutes,
//                    seconds : dates.seconds
//                }
//            }
//        });

        function s(e, a) {
                    if (e && e.preventDefault)
                        e.preventDefault();
                    else
                        window.event.returnValue = false;
                    a.focus();

                }
        if (message == 1) {
            document.getElementById("btnSubmit").disabled = true;
            var arr = document.getElementsByClassName("form-control");
            for (var i = 0; i < arr.length; i++) {
                arr[i].disabled = true;
            }
            $('#dingwei').attr("hidden", true);
        } else {
            document.getElementById("btnSubmit").disabled = false;
            var arr = document.getElementsByClassName("form-control");
            for (var i = 0; i < arr.length; i++) {
                arr[i].disabled = false;
            }
        }

    </script>
    <div class="row clearfix">
        <div class="col-md-12 bg-primary">
            <div th:replace="basepage::contextfooter"></div>
        </div>
    </div>
</div>
</body>
</html>
