<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<head th:fragment="common_header(title,script)">
    <th:block th:replace="${title}" />
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrapvalidator-0.4.5/dist/css/bootstrapValidator.min.css"  />
    <script type="text/javascript" src="/jquery-3.1.1/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bootstrapvalidator-0.4.5/dist/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/bootstrap-table-master/bootstrap-table-master/src/bootstrap-table.js"></script>
    <script type="text/javascript" src="/bootstrap-table-master/bootstrap-table-master/src/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="/laydate/laydate.js"></script>
    <script type="text/javascript" src="/typehead.js"></script>
    <script type="text/javascript" src="/jquery-rank-score/js/jquery.raty.js"></script>
    <th:block th:replace="${script}" />
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 bg-warning">
            <div class="bg-primary" th:fragment="contextheader">
                <nav class="navbar" role="navigation">
                    <div class="navbar-header">
                        欢迎使用时间银行系统
                    </div>
                    <div >
                        <!-- <input id="userId" name ="userId" type="text" style="visibility: hidden" th:value="${userId}"/>-->
                        <input id="role" name="role" type="text"  style="visibility: hidden" th:value="${role}"/>
                    </div>

                </nav>
            </div>
        </div>
    </div>
    <div class="row clearfix bg-success" >
        <div class="col-md-2 bg-primary column">
            <div class="bg-info" th:fragment="contextleftnav" id="contextleftnav">
                <div class="panel-group bg-primary" id="panel-658713">
                    <div class="panel panel-default">
                        <div class="panel-heading" th:if="${role} == 'ADMIN'">
                            <a class="panel-title" data-toggle="collapse" data-parent="#panel-658713"
                               href="#panel-element-640832">平台管理员系统
                            </a>
                        </div>
                        <div id="panel-element-640832" class="panel-collapse in" th:if="${role} == 'ADMIN'" >
                            <div class="panel-body">
                                <ul id="systemSetting1" class="nav nav-pills nav-stacked">
                                    <li><a th:href="@{/createAllUserRole}"><i class="glyphicon glyphicon-user"></i> 审核用户角色</a></li>
                                    <li><a th:href="@{/createCommunityView}"><i class="glyphicon glyphicon-user"></i> 创建小区</a></li>
                                    <!--<li><a th:href="@{/createAdminView}"><i class="glyphicon glyphicon-user"></i> 创建小区管理员</a></li>-->
                                    <li><a th:href="@{/showCommunityView}"><i class="glyphicon glyphicon-user"></i> 查看所有小区</a></li>
                                    <!--<li><a th:href="@{/createUserByPlatAdminView}"><i class="glyphicon glyphicon-user"></i> 创建用户</a></li>-->
                                    <li><a th:href="@{/createRequestByAdminView}"><i class="glyphicon glyphicon-th-list"></i> 代发请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/0}"><i class="glyphicon glyphicon-th-list"></i> 查看所有请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/1}"><i class="glyphicon glyphicon-th-list"></i> 待审核请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/2}"><i class="glyphicon glyphicon-th-list"></i> 通过的请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/3}"><i class="glyphicon glyphicon-th-list"></i> 驳回的请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/4}"><i class="glyphicon glyphicon-th-list"></i> 未启动请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/5}"><i class="glyphicon glyphicon-th-list"></i> 待启动请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/6}"><i class="glyphicon glyphicon-th-list"></i> 启动的请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/7}"><i class="glyphicon glyphicon-th-list"></i> 未完成请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/8}"><i class="glyphicon glyphicon-th-list"></i> 已完成请求</a></li>
                                    <li><a th:href="@{/listRequestByAdminView/9}"><i class="glyphicon glyphicon-th-list"></i> 已撤销请求</a></li>
                                    <li><a th:href="@{/waitsomebody}"><i class="glyphicon glyphicon-th-list"></i> 待接单</a></li>
                                </ul>
                            </div>
                        </div>
                         <!-- 我是张春萌-->
                        <div class="panel-heading" th:if="${role} == 'MADMIN'">
                            <a class="panel-title" data-toggle="collapse" data-parent="#panel-658713"
                               href="#panel-element-640832">小区管理员系统</a>
                        </div>
                        <div id="panel-element-640833" class="panel-collapse in" th:if="${role} == 'MADMIN'">
                            <div class="panel-body">
                                <ul id="systemSetting2" class="nav nav-pills nav-stacked" >
                                    <li><a th:href="@{/createUserRole}"><i class="glyphicon glyphicon-user"></i> 审核用户角色</a></li>
                                    <li><a th:href="@{/publishactivity}"><i class="glyphicon glyphicon-th-list"></i> 发布活动</a></li>
                                    <li><a th:href="@{/activitylist/1}"><i class="glyphicon glyphicon-th-list"></i> 查看所有活动</a></li>
                                    <li><a th:href="@{/activitylist/2}"><i class="glyphicon glyphicon-th-list"></i> 查看未启动活动</a></li>
                                    <li><a th:href="@{/activitylist/3}"><i class="glyphicon glyphicon-th-list"></i> 查看待启动活动</a></li>
                                    <li><a th:href="@{/activitylist/4}"><i class="glyphicon glyphicon-th-list"></i> 查看启动活动</a></li>
                                    <li><a th:href="@{/activitylist/5}"><i class="glyphicon glyphicon-th-list"></i> 查看未完成活动</a></li>
                                    <li><a th:href="@{/activitylist/6}"><i class="glyphicon glyphicon-th-list"></i> 查看已完成活动</a></li>
                                    <li><a th:href="@{/activitylist/7}"><i class="glyphicon glyphicon-th-list"></i> 查看已撤销活动</a></li>
                                    <li><a th:href="@{/activitylist/8}"><i class="glyphicon glyphicon-th-list"></i> 查看评价完的活动</a></li>
                                    <li><a th:href="@{/activitylistscore}"><i class="glyphicon glyphicon-th-list"></i> 评价活动</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-heading" th:if="${role} == 'USE'">
                            <a class="panel-title" data-toggle="collapse" data-parent="#panel-658713"
                               href="#panel-element-640832">用户系统</a>
                        </div>
                        <div id="panel-element-640834" class="panel-collapse in" th:if="${role} == 'USE'">
                            <div class="panel-body">
                                <ul id="systemSetting3" class="nav nav-pills nav-stacked" >
                                    <li><a th:href="@{/mybank}"><i class="glyphicon glyphicon-user"></i> 查看地图</a></li>
                                    <li><a th:href="@{/userInformationView}"><i class="glyphicon glyphicon-user"></i> 查看个人信息</a></li>
                                    <li><a th:href="@{/modifyUserInformationView}"><i class="glyphicon glyphicon-user"></i> 完善个人信息</a></li>
                                    <li><a th:href="@{/createRequestByUserView}"><i class="glyphicon glyphicon-th-list"></i> 发布请求</a></li>
                                    <li><a th:href="@{/requestListByUserView}"><i class="glyphicon glyphicon-th-list"></i> 查看请求列表</a></li>
                                    <li><a th:href="@{/createApplyByUserView}"><i class="glyphicon glyphicon-th-list"></i> 申请服务</a></li>
                                    <li><a th:href="@{/applyListByUserView}"><i class="glyphicon glyphicon-th-list"></i> 查看服务列表</a></li>
                                    <li><a th:href="@{/createActivityByUserView}"><i class="glyphicon glyphicon-th-list"></i> 申请活动</a></li>
                                    <li><a th:href="@{/applyActivityListByUserView}"><i class="glyphicon glyphicon-th-list"></i> 查看活动列表</a></li>
                                    <li><a th:href="@{/receiveServicesView}"><i class="glyphicon glyphicon-th-list"></i> 收款服务</a></li>
                                    <li><a th:href="@{/remitServicesView}"><i class="glyphicon glyphicon-th-list"></i> 汇款服务</a></li>
                                    <li><a th:href="@{/remitServicesList}"><i class="glyphicon glyphicon-th-list"></i> 汇款列表</a></li>
                                    <li><a th:href="@{/scoreForVolunteer}"><i class="glyphicon glyphicon-th-list"></i> 评价志愿者</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-heading" th:if="${role} == 'Tourist'">
                            <a class="panel-title" data-toggle="collapse" data-parent="#panel-658713"
                               href="#panel-element-640832">游客系统</a>
                        </div>
                        <div id="panel-element-640835" class="panel-collapse in" th:if="${role} == 'Tourist'">
                            <div class="panel-body">
                                <ul id="systemSetting4" class="nav nav-pills nav-stacked" >
                                    <li><a th:href="@{/touristInformationView}"><i class="glyphicon glyphicon-user"></i> 查看个人信息</a></li>
                                    <li><a th:href="@{/modifyTouristInformationView}"><i class="glyphicon glyphicon-user"></i> 修改个人信息</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 bg-danger column">
            <div class="bg-warning" th:fragment="contextrightpanel"></div>
        </div>
    </div>
    <div class="row clearfix" th:fragment="contextfooter">
        <div class="col-md-12 bg-primary">
            时间银行系统
        </div>
    </div>
</div>
</body>
</html>