<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="basepage :: common_header(~{::title},~{::script})">
    <meta charset="UTF-8">
    <title>信息详情</title>
    <script th:inline="javascript">
        var message1 = [[${message1}]];
        var message2=[[${date}]];
    </script>
    <script type="text/javascript">
        $(document).ready(function() {

            if(message1!=null){
                document.getElementById('imgInit1').src = message1;
            }

            $('#USERSInputForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating:'glyphicon glyphicon-refresh'
                },
                fields: {
                    userGuid:{
                        message: '用户ID验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户ID不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 18,
                                message: '用户ID长度必须在6到18位之间'
                            },
                            regexp:{
                                regexp: /^[a-zA-Z0-9_]+$/,
                                message:'用户ID只能包含大写、小写、数字和下划线'
                            }
                        }
                    },
                    userAccount:{
                        message: '用户账号名验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户账号名不能为空'
                            }
                        }
                    },
                    userTypeGuidGender:{
                        message: '用户性别验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户性别不能为空'
                            }
                        }
                    },
                    userAddress:{
                        message: '用户住址验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户住址不能为空'
                            }
                        }
                    },
                    userCommGuid:{
                        message: '所属小区验证失败',
                        validators: {
                            notEmpty: {
                                message:'所属小区不能为空'
                            }
                        }
                    }
                }
            });
        });
        function show(pic){
            //获取图片的宽和高
            iw = pic.width;
            ih = pic.height;
            //获取屏幕的宽和高
            sw = document.documentElement.clientWidth;
            sh = document.documentElement.clientHeight;

            //创建动态的图片对象，将该对象的src赋值为原图的src,这就是来创建我们放大后看大的那个图片
            oimg = document.createElement('img');
            oimg.src = pic.src;
            oimg.width=800;
            oimg.height=500;
            oimg.style.position = 'absolute';
            oimg.style.top = (sh-ih)/2+'px';
            oimg.style.left= (sw-ih)/2+'px';

            //动态的创建一个灰色的背景div，就是那个我们带点击后，大图后面的那个灰色的那个背景，当然灰色是可以自由设置的
            gdiv = document.createElement('div');
            gdiv.id = 'gray';
            gdiv.style.height =sh+'px';
            gdiv.style.width = sw+'px';
            gdiv.style.background =  'black';
            gdiv.style.opacity = '0.55';
            gdiv.style.filter = 'alpha(opacity=55)';
            gdiv.style.position = 'absolute';
            gdiv.style.position='fixed';
            gdiv.style.top = '0px';
            gdiv.style.left = '0px';
            document.body.appendChild(gdiv);

            //删除动态的图片和对象，就是我们点击放大后，再次点击的时候，放大的图片会被删除，并且后面的那个背景也会随之删除
            //点击灰色背景时，背景和大图都会删除
            gdiv.onclick = function(){
                document.body.removeChild(this);
                document.body.removeChild(oimg);
            }
            //点击大图时，背景和大图也都会删除
            oimg.onclick = function(){
                document.body.removeChild(this);
                document.body.removeChild(gdiv);
            }

            document.body.appendChild(oimg);
        }
        //设置图片的位置来适应窗口的大小
        window.onresize=function(){
            sh = document.documentElement.clientHeight;
            sw = document.documentElement.clientWidth;
            gdiv.style.width = sw + 'px';
            gdiv.style.height = sh + 'px';
            //更改图片的位置
            oimg.style.top = (sh-ih)/2 + 'px';
            oimg.style.left = (sw-iw)/2 + 'px';
        }

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-danger">
            <div th:replace="basepage::contextheader"></div>
        </div>
    </div>
    <div class="row clearfix bg-success">
        <div class="col-md-2 bg-primary ">
            <div th:replace="basepage::contextleftnav"></div>
        </div>
        <div class="col-md-10 bg-danger">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        信息详情
                    </h3>
                </div>
                <!--action=""-->
                <div class="panel-body">
                    <form id="USERSInputForm" name="USERSInputForm" method="post" class="form-horizontal"
                           role="form" action="/passSubmit"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" >
                        <!--<div class="row" >-->
                            <div class="form-group  col-lg-6" hidden="hidden">
                                <label class="control-label col-lg-3" for="userGuid" >用户ID：</label>
                                <div class="col-lg-9">
                                    <input id="userGuid" name="userGuid" type="text" class="form-control" th:value="${users.userGuid}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userAccount" >账号：</label>
                                <div class="col-lg-9">
                                    <input id="userAccount" name="userAccount" type="text" class="form-control" th:value="${users.userAccount}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userName" >姓名：</label>
                                <div class="col-lg-9">
                                    <input id="userName" name="userName" type="text" class="form-control" th:value="${users.userName}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userMail" >电子邮箱：</label>
                                <div class="col-lg-9">
                                    <input id="userMail" name="userMail" type="email" class="form-control" th:value="${users.userMail}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userIdnum" >身份证号：</label>
                                <div class="col-lg-9">
                                    <input id="userIdnum" name="userIdnum" type="email" class="form-control" th:value="${users.userIdnum}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userPhone" >手机号：</label>
                                <div class="col-lg-9">
                                    <input id="userPhone" name="userPhone" type="tel" class="form-control" th:value="${users.userPhone}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userBirthdate" >出生日期：</label>
                                <div class="col-lg-9">
                                    <input id="userBirthdate" name="userBirthdate"  class="form-control" th:value="${users.userBirthdate}"  disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userEmerperson" >紧急联系人：</label>
                                <div class="col-lg-9">
                                    <input id="userEmerperson" name="userEmerperson" type="text" class="form-control" th:value="${users.userEmerperson}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userEmercontact" >紧急联系方式：</label>
                                <div class="col-lg-9">
                                    <input id="userEmercontact" name="userEmercontact" type="tel" class="form-control" th:value="${users.userEmercontact}" disabled="disabled"/>
                                </div>
                            </div>
                        <div class="form-group  col-lg-6">
                            <label class="control-label col-lg-3" for="userProvince" >居住区域：</label>
                            <label class="col-lg-2">省：</label>
                            <div class="form-group col-lg-6">
                                <input id="userProvince" name="userProvince" type="text" class="form-control col-lg-4" th:value="${users.userProvince}" disabled="disabled"/>
                            </div>
                            <label class="control-label col-lg-4" for="userCity">市：</label>
                            <div class="form-group col-lg-6">
                                <input id="userCity" name="userCity" type="text" class="form-control col-lg-4" th:value="${users.userCity}" disabled="disabled"/>
                            </div>
                            <label class="control-label col-lg-4" for="userCity">区：</label>
                            <div class="form-group col-lg-6">
                                <input id="userDistrict" name="userDistrict" type="text" class="form-control col-lg-4" th:value="${users.userDistrict}" disabled="disabled"/>
                            </div>
                        </div>

                        <!--<div class="form-group  col-lg-6">-->
                                <!--<label class="control-label col-lg-3">家庭住址：</label>-->
                                <!--<div class="form-group  col-lg-4" data-toggle="distpicker">-->
                                    <!--<select class="form-control col-lg-4" id="userProvince"  name="userProvince" data-province="&#45;&#45;&#45;&#45; 选择省 &#45;&#45;&#45;&#45;"  ></select>-->
                                    <!--<select class="form-control col-lg-4" id="userCity"  name="userCity" data-city="&#45;&#45;&#45;&#45; 选择市 &#45;&#45;&#45;&#45;" ></select>-->
                                    <!--<select class="form-control col-lg-4" id="userDistrict" name="userDistrict" data-district="&#45;&#45;&#45;&#45; 选择区 &#45;&#45;&#45;&#45;" ></select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group  col-lg-6" th:if="${role1} == 'USE'">
                                <label class="control-label col-lg-3" for="userRole" >用户角色：</label>
                                <select id="userRole" name="userRole">
                                    <option value="USE">USE</option>
                                    <option value="Tourist">Tourist</option>
                                </select>
                            </div>
                            <div class="form-group  col-lg-6" th:if="${role1} == 'Tourist'">
                                <label class="control-label col-lg-3" for="userRole" >用户角色：</label>
                                <select id="userRole1" name="userRole">
                                    <option value="Tourist">Tourist</option>
                                    <option value="USE">USE</option>
                                </select>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userTypeGuidGender" >性别：</label>
                                <div class="col-lg-9">
                                    <input id="userTypeGuidGender" name="userTypeGuidGender" type="text" class="form-control" th:value="${users.userTypeGuidGender}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userTypeAccountStatus" >用户状态：</label>
                                <div class="col-lg-9">
                                    <input id="userTypeAccountStatus" name="userTypeAccountStatus" type="text" class="form-control" th:value="${users.userTypeAccountStatus}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userOwnCurrency" >持有时间：</label>
                                <div class="col-lg-9">
                                    <input id="userOwnCurrency" name="userOwnCurrency" type="text" class="form-control" th:value="${users.userOwnCurrency}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userAddress" >详细住址：</label>
                                <div class="col-lg-9">
                                    <input id="userAddress" name="userAddress" type="text" class="form-control" th:value="${users.userAddress}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userCommGuid" >所属小区：</label>
                                <div class="col-lg-9">
                                    <input id="userCommGuid" name="userCommGuid" type="text" class="form-control" th:value="${users.userCommGuid}"  disabled="disabled"/>
                                </div>
                            </div>
                            <div class="id_img_wp">
                                <input type="file" accept="image/*" onchange="getzImg(this)" style="display:none" value="" id="img_z" name="img_z"/>
                                <div class="img_wp" onclick="zhengmian()">
                                    <img src="/img/qie.jpg" id="imgInit1" name="tupian" onclick='show(this)' />
                                    <p class="img_intro">身份证正面照</p>
                                </div>

                            </div>
                        <div class="form-actions">
                            <input id="btnSubmit1" class="btn btn-primary" type="submit" value="通过" />

                            <a href="https://mail.126.com/" target=_blank>
                               <input id="anniu"  onclick="window.location.href('https://mail.126.com/')" class="btn btn-primary" type="button" value="不通过"/>
                            </a>


                            <input id="btnCancel" class="btn" type="button" value="返 回" onclick="history.go(-2)"/>
                            <!--<input id="btnSubmit2" class="btn btn-primary" type="button" value="驳回" onclick="test(2)"/>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.img_wp img').height($('.img_wp img').width()*0.3);
            $(window).resize(function(){
                $('.img_wp img').height($('.img_wp img').width()*0.3);
            })
        })

        //默认地址
//        var getSelect = document.getElementById('userProvince');
//        getSelect.value="nihaoa";


        //处理时间格式
        if (message2 != null) {
            var a = message2.split("T");
        }
        if (a[0] != null) {
            document.getElementById('userBirthdate').value = a[0];
        }


    </script>
    <div class="row clearfix">
        <div class="col-md-12 bg-primary">
            <div th:replace="basepage::contextfooter"></div>
        </div>
    </div>
</div>
</body>
</html>

