<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="basepage :: common_header(~{::title},~{::script})">
    <title>审核用户信息</title>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#USERSInputForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating:'glyphicon glyphicon-refresh'
                },
                fields: {
                    userGuid:{
                        message: '用户ID验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户ID不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 18,
                                message: '用户ID长度必须在6到18位之间'
                            },
                            regexp:{
                                regexp: /^[a-zA-Z0-9_]+$/,
                                message:'用户ID只能包含大写、小写、数字和下划线'
                            }
                        }
                    },
                    userAccount:{
                        message: '用户账号名验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户账号名不能为空'
                            }
                        }
                    },
                    userTypeGuidGender:{
                        message: '用户性别验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户性别不能为空'
                            }
                        }
                    },
                    userAddress:{
                        message: '用户住址验证失败',
                        validators: {
                            notEmpty: {
                                message:'用户住址不能为空'
                            }
                        }
                    },
                    userCommGuid:{
                        message: '所属小区验证失败',
                        validators: {
                            notEmpty: {
                                message:'所属小区不能为空'
                            }
                        }
                    }
                }
            });
        });
    </script>
    <script th:inline="javascript">
        var message = [[${message}]];
    </script>



</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-danger">
            <div th:replace="basepage::contextheader"></div>
        </div>
    </div>
    <div class="row clearfix bg-success">
        <div class="col-md-2 bg-primary ">
            <div th:replace="basepage::contextleftnav"></div>
        </div>
        <div class="col-md-10 bg-danger">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        审核用户角色
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="USERSInputForm" name="USERSInputForm" method="post" class="form-horizontal"
                          action="/passUserSubmit"  role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" >
                        <div class="row" >
                            <div class="form-group  col-lg-6" hidden="hidden">
                                <label class="control-label col-lg-3" for="userGuid" >用户ID：</label>
                                <div class="col-lg-9">
                                    <input id="userGuid" name="userGuid" type="text" class="form-control" th:value="${users.userGuid}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userAccount" >用户账号：</label>
                                <div class="col-lg-9">
                                    <input id="userAccount" name="userAccount" type="text" class="form-control" disabled="disabled" placeholder="用户账号名" th:value="${users.userAccount}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userName" >用户姓名：</label>
                                <div class="col-lg-9">
                                    <input id="userName" name="userName" type="text" class="form-control" disabled="disabled" placeholder="用户姓名" th:value="${users.userName}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userTypeGuidGender" >用户性别：</label>
                                <div class="col-lg-9">
                                    <input id="userTypeGuidGender" name="userTypeGuidGender" type="text" class="form-control" disabled="disabled" placeholder="用户性别" th:value="${users.userTypeGuidGender}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userAddress" >用户住址：</label>
                                <div class="col-lg-9">
                                    <input id="userAddress" name="userAddress" type="text" class="form-control" placeholder="用户住址" disabled="disabled" th:value="${users.userAddress}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userTypeAccountStatus" >用户状态：</label>
                                <div class="col-lg-9">
                                    <input id="userTypeAccountStatus" name="userTypeAccountStatus" type="text" class="form-control" placeholder="用户住址" disabled="disabled" th:value="${users.userTypeAccountStatus}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userRole" >用户角色：</label>
                                <select id="userRole" name="userRole" >
                                    <!--<option th:value="${users.userrole}" >11</option>-->
                                    <option value="Tourist">0</option>
                                    <option value="USE">USE</option>
                                    <option value="MADMIN" >MADMIN</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                                <!--<select name="userCommGuid" id="userRole" class="form-control">-->
                                    <!--<option th:each="communities:${communities}" th:value="${communities.commGuid}" th:text="${communities.commTitle}" th:selected="${communities.commGuid}==${users.userCommGuid}"></option>-->
                                <!--</select>-->
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userCommGuid" >所属小区：</label>
                                <div class="col-lg-9">
                                    <input id="userCommGuid" name="userCommGuid" type="text" class="form-control" disabled="disabled" placeholder="用户小区" th:value="${users.userCommGuid}"/>

                                </div>

                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="btnSubmit" class="btn btn-primary" type="submit" value="保存"/>&nbsp;
                            <input id="btnCancel" class="btn" type="button" value="返 回" onclick="history.go(-1)"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
            //方法一
                var aaa='userRole';
                function eee(id1 , vari){
                    var text = document.getElementById(id1);
                    var arr=[];
                    var childs = text.childNodes;
                    for(var i=0;i<childs.length;i++){
                        if(childs[i].nodeType==1){
                            arr.push(childs[i]);
                        }
                    }
                    arr[0].innerText=vari;
                }
                eee(aaa,message);
                //方法二
//        //得到一级目录
//        var getSelect = document.getElementById('userRole');
//        //得到二级目录
//        var getOption = getSelect.getElementsByTagName('option');
//        getOption[0].innerText = message;
    </script>
    <div class="row clearfix">
        <div class="col-md-12 bg-primary">
            <div th:replace="basepage::contextfooter"></div>
        </div>
    </div>
</div>
</body>
</html>

