<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZsT9uATUVFSWeXgFMQDsH4hP5UbQD2YC"></script>
    <title>IP定位获取当前城市</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.417854,39.921988);
    map.centerAndZoom(point, 15);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中

    var opts = {
        width : 200,     //
        height: 270,     // 信息窗口高度信息窗口宽度
        title :"<strong style=\"font-size:16px;font-weight:bold\">" + "标题" + "</strong>" , // 信息窗口标题
        enableMessage:true,//设置允许信息窗发送短息
        message:"",
    }
    //动态设置 opts的标题和showInfo的内容
    var showInfo = "地址：" + "山科大" + "<br/>" + "描述：" + "搬砖" + "<br/>起止时间：" + "9月10号" + "<br/>人数: " + "10"+"<br/>"+
        '<input onclick="jieshou(this)" type=\"button\" id=\"btn1\" value=\"接受\" style=\"width: 100px;height:30px;margin-top: 20px;margin-left: 120px;\">'+ '<input onclick="chakan(this)" type=\"button\" id=\"btn1\" value=\"查看详情\" style=\"width: 100px;height:30px;margin-top: 20px;margin-left: 120px;\">';
    var infoWindow = new BMap.InfoWindow(showInfo,opts);  // 创建信息窗口对象
    marker.addEventListener("click", function(){
        map.openInfoWindow(infoWindow,point); //开启信息窗口
    });
    function jieshou(name) {
        window.location.href="/css";
    }
    function chakan(name) {
        window.location.href="/css1";
    }
</script>
