<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrapvalidator-0.4.5/dist/css/bootstrapValidator.min.css"  />
    <script type="text/javascript" src="/jquery-3.1.1/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bootstrapvalidator-0.4.5/dist/js/bootstrapValidator.min.js"></script>
</head>
<script type="text/javascript">
    $(document).ready(function() {
        $('#Form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                userAccount: {
                    message: '账号名验证失败',
                    validators: {
                        notEmpty: {
                            message: '账号名不能为空'
                        },
                        remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                            url: '/jquery/checkexist',//验证地址
                            message: '账号名与邮箱不匹配',//提示消息
                            delay: 1000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            type: 'POST',//请求方式
                            data: {
                                Account: function () {
                                    return $('#userAccount').val()
                                },
                                Email: function () {
                                    return $('#userEmail').val();
                                }

                            }


                        }
                    }
                },
                userEmail: {
                    message: '邮箱验证失败',
                    validators: {
                        notEmpty: {
                            message: '邮箱不能为空'
                        }
                    }
                }

            }
        })
    })
</script>
<body>
<form id="Form" name="Form" action="/jquery/forgetPassword" method="post">
    <div class="form-group">
        <div class="form-group">
            <label for="userEmail" style="font-size:20px">邮箱</label>
            <input align="center" type="email" name="userEmail" class="form-control" id="userEmail" placeholder="Password"/>
        </div>
        <label for="userAccount" style="font-size:20px">账户名</label>
        <input align="center" name="userAccount" type="text" class="form-control" id="userAccount" placeholder="userAccount"/>
    </div>

    <span>
        <button type="submit" class="btn btn-default">保存</button>

    </span>

</form>
</body>
</html>