<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>登录</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrapvalidator-0.4.5/dist/css/bootstrapValidator.min.css"  />
    <script type="text/javascript" src="/jquery-3.1.1/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bootstrapvalidator-0.4.5/dist/js/bootstrapValidator.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#Form').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    userAccount: {
                        message: '账户名/手机号/邮箱验证失败',
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            },
                        }
                    },
                    userPassword: {
                        message: '密码验证失败',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            }
                        }
                    },
//                    submitHandler: function (validator, form, submitButton) {
//                        alert("submit");
//                    }
                }
            })

        })
    </script>
</head>
<body>

<form id="Form" name="Form" action="/loginUser" method="post">
    <div class="form-group">
        <label for="userAccount">账户名</label>
        <input name="userAccount" type="text" class="form-control" id="userAccount" placeholder="userAccount"/>
    </div>
    <div class="form-group">
        <label for="userPassword">密码</label>
        <input type="password" name="userPassword" class="form-control" id="userPassword" placeholder="Password"/>
    </div>
    <button type="submit" class="btn btn-default">登录</button>
</form>
<div>
    <a class="btn btn-default" href="/register">注册</a>
</div>

</body>
</html>