<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="basepage :: common_header(~{::title},~{::script})">
    <title>服务详情</title>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-danger">
            <div th:replace="basepage::contextheader"></div>
        </div>
    </div>
    <div class="row clearfix bg-success">
        <div class="col-md-2 bg-primary ">
            <div th:replace="basepage::contextleftnav"></div>
        </div>
        <div class="col-md-10 bg-danger">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        服务详情
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="Form1" name="Form1" method="post" class="form-horizontal" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="row">
                            <div class="form-group  col-lg-6" hidden="hidden">
                                <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                                <div class="col-lg-9">
                                    <input id="reqGuid" name="reqGuid" type="select" class="form-control"
                                           th:value="${reqest.reqGuid}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqAddress">请求提出时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqIssueTime" name="reqIssueTime" type="select" class="form-control"
                                           th:value="${#calendars.format(reqest.reqIssueTime , 'yyyy-MM-dd HH:mm:ss')}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqAddress">请求提出地址：</label>
                                <div class="col-lg-9">
                                    <input id="reqAddress" name="reqAddress" type="select" class="form-control"
                                           th:value="${reqest.reqAddress}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTitle">请求标题：</label>
                                <div class="col-lg-9">
                                    <input id="reqTitle" name="reqTitle" type="select" class="form-control"
                                           th:value="${reqest.reqTitle}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqDesp">请求描述：</label>
                                <div class="col-lg-9">
									<textarea rows="5" id="reqDesp" name="reqDesp" class="form-control"
                                              th:text="${reqest.reqDesp}" disabled="disabled">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqComment">请求补充：</label>
                                <div class="col-lg-9">
									<textarea rows="5" id="reqComment" name="reqComment" class="form-control"
                                              th:text="${reqest.reqComment}" disabled="disabled">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTypeGuidClass">请求分类：</label>
                                <div class="col-lg-9">
                                    <input id="reqTypeGuidClass" name="reqTypeGuidClass" type="text"
                                           class="form-control" th:value="${reqest.reqTypeGuidClass}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqAvailableStartTime">请求可用开始时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqAvailableStartTime" name="reqAvailableStartTime"
                                           class="form_datetime form-control" type="text"
                                           th:value="${#calendars.format(reqest.reqAvailableStartTime , 'yyyy-MM-dd HH:mm:ss')}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqAvailableEndTime">请求可用结束时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqAvailableEndTime" name="reqAvailableEndTime"
                                           class="form_datetime form-control" type="text"
                                           th:value="${#calendars.format(reqest.reqAvailableEndTime , 'yyyy-MM-dd HH:mm:ss')}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqRreDurationTime">预计持续时间：</label>
                                <div class="col-lg-9">
                                    <input id="reqRreDurationTime" name="reqRreDurationTime" type="text"
                                           class="form-control" th:value="${reqest.reqRreDurationTime}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqPersonNum">请求需要人数：</label>
                                <div class="col-lg-9">
                                    <input id="reqPersonNum" name="reqPersonNum" type="text" class="form-control"
                                           th:value="${reqest.reqPersonNum}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTypeGuidUrgency">请求紧急程度：</label>
                                <div class="col-lg-9">
                                    <input id="reqTypeGuidUrgency" name="reqTypeGuidUrgency" type="text"
                                           class="form-control" th:value="${reqest.reqTypeGuidUrgency}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTypeGuidUrgency">请求批准状态：</label>
                                <div class="col-lg-9">
                                    <input id="reqTypeApproveStatus" name="reqTypeApproveStatus" type="text"
                                           class="form-control" th:value="${reqest.reqTypeApproveStatus}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="reqTypeGuidUrgency">请求处理状态：</label>
                                <div class="col-lg-9">
                                    <input id="reqTypeGuidProcessStatus" name="reqTypeGuidProcessStatus" type="text"
                                           class="form-control" th:value="${reqest.reqTypeGuidProcessStatus}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="Form2" name="Form2" method="post" class="form-horizontal"
                          action="/updateREQEST" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                            <div class="col-lg-9">
                                <input id="reqGuid2" name="reqGuid2" type="text" class="form-control"
                                       th:value="${reqest.reqGuid}"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="updateRequest" class="btn btn-primary" type="submit" value="更新请求"/>&nbsp;
                        </div>
                    </form>
                    <form id="Form3" name="Form3" method="post" class="form-horizontal"
                          action="/volunteerListOfApply" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                            <div class="col-lg-9">
                                <input id="reqGuid3" name="reqGuid3" type="" class="form-control"
                                       th:value="${reqest.reqGuid}"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="viewVolRequest" class="btn btn-primary" type="submit" value="查看志愿者"/>&nbsp;
                        </div>
                    </form>
                    <form id="Form4" name="Form4" method="post" class="form-horizontal"
                          action="/deleteREQEST" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                            <div class="col-lg-9">
                                <input id="reqGuid4" name="reqGuid4" type="text" class="form-control"
                                       th:value="${reqest.reqGuid}"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="deleteRequest" class="btn btn-primary" type="submit" value="撤销"/>&nbsp;
                        </div>
                    </form>
                    <form id="Form5" name="Form5" method="post" class="form-horizontal"
                          action="/startRequest" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                            <div class="col-lg-9">
                                <input id="reqGuid5" name="reqGuid5" type="" class="form-control"
                                       th:value="${reqest.reqGuid}"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="startRequest" class="btn btn-primary" type="submit" value="启动"/>&nbsp;
                        </div>
                    </form>
                    <form id="Form6" name="Form6" method="post" class="form-horizontal"
                          action="/waitRequest" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                            <div class="col-lg-9">
                                <input id="reqGuid6" name="reqGuid6" type="text" class="form-control"
                                       th:value="${reqest.reqGuid}"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="waitRequest" class="btn btn-primary" type="submit" value="待启动"/>&nbsp;
                        </div>
                    </form>
                    <form id="Form7" name="Form7" method="post" class="form-horizontal"
                          action="/endRequest" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                            <div class="col-lg-9">
                                <input id="reqGuid7" name="reqGuid7" type="text" class="form-control"
                                       th:value="${reqest.reqGuid}"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="finishRequest" class="btn btn-primary" type="submit" value="已完成"/>&nbsp;
                        </div>
                    </form>
                    <form id="Form8" name="Form8" method="post" class="form-horizontal"
                          action="/unEndRequest" role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3" for="reqGuid">请求ID：</label>
                            <div class="col-lg-9">
                                <input id="reqGuid8" name="reqGuid8" type="text" class="form-control"
                                       th:value="${reqest.reqGuid}"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="unFinishRequest" class="btn btn-primary" type="submit" value="未完成"/>&nbsp;
                        </div>
                    </form>
                    <input id="updateId" style="display:none" type="text" th:value="${updateList.updateId}"/>
                    <input id="deletaId" style="display:none" type="text" th:value="${updateList.deletaId}"/>
                    <input id="startId" style="display:none" type="text" th:value="${updateList.startId}"/>
                    <input id="viewVolId" style="display:none" type="text" th:value="${updateList.viewVolId}"/>
                    <input id="finishId" style="display:none" type="text" th:value="${updateList.finishId}"/>
                    <input id="unFinishId" style="display:none" type="text" th:value="${updateList.unFinishId}"/>
                    <input id="waitId" style="display:none" type="text" th:value="${updateList.waitId}"/>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        if (document.getElementById("updateId").value == 1) {
            document.getElementById("updateRequest").disabled = false;
            $('#Form2').show();
        } else {
            document.getElementById("updateRequest").disabled = true;
            $('#Form2').hide();
        }

        if (document.getElementById("deletaId").value == 1) {
//            document.getElementById("deleteRequest").disabled = false;
            $('#Form4').show();
        } else {
//            document.getElementById("deleteRequest").disabled = true;
            $('#Form4').hide();
        }

        if (document.getElementById("startId").value == 1) {
            $('#Form5').show();
            document.getElementById("startRequest").disabled = false;
        } else {
            $('#Form5').hide();
//            document.getElementById("startRequest").disabled = true;
        }
        if (document.getElementById("viewVolId").value == 1) {
            $('#Form3').show();
//            document.getElementById("viewVolRequest").disabled = false;
        } else {
            $('#Form3').hide();
//            document.getElementById("viewVolRequest").disabled = true;
        }
        if (document.getElementById("finishId").value == 1) {
            $('#Form7').show();
//            document.getElementById("finishRequest").disabled = false;
        } else {
            $('#Form7').hide();
//            document.getElementById("finishRequest").disabled = true;
        }
        if (document.getElementById("unFinishId").value == 1) {
            $('#Form8').show();
//            document.getElementById("unFinishRequest").disabled = false;
        } else {
            $('#Form8').hide();
//            document.getElementById("unFinishRequest").disabled = true;
        }
        if (document.getElementById("waitId").value == 1) {
            $('#Form6').show();
//            document.getElementById("waitRequest").disabled = false;
        } else {
            $('#Form6').hide();
//            document.getElementById("waitRequest").disabled = true;
        }

    </script>
    <div class="row clearfix">
        <div class="col-md-12 bg-primary">
            <div th:replace="basepage::contextfooter"></div>
        </div>
    </div>

</body>

</html>


