<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="basepage :: common_header(~{::title},~{::script})">
    <title>评价请求列表</title>
    <script th:inline="javascript">
        var reqGuid = [[${reqGuid}]];
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            function changeDateFormat(cellval) {
                var dateVal = cellval + "";
                if (cellval != null) {
                    var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
                    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                    var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                    var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                    var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                    var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                    return date.getFullYear() + "-" + month + "-" + currentDate + " " + hours + ":" + minutes + ":" + seconds;
                }
            };

            var $table = $('#REQEST');
            $('#REQEST').bootstrapTable({
                columns:[
                    /*{
                        title:'请求ID',
                        field:'reqGuid',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求者ID',
                        field:'reqIssueUserGuid',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },*/
                    {
                        title:'提出请求的时间',
                        field:'reqIssueTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true ,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value);
                        }

                    },
                    {
                        title:'请求提出地址',
                        field:'reqAddress',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求的标题',
                        field:'reqTitle',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求描述',
                        field:'reqDesp',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求补充',
                        field:'reqComment',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求发布时间',
                        field:'reqDispatchTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true ,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value);
                        }

                    },
                    {
                        title:'请求分类',
                        field:'reqTypeGuidClass',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求可用开始时间',
                        field:'reqAvailableStartTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true ,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value);
                        }

                    },
                    {
                        title:'请求可用结束时间',
                        field:'reqAvailableEndTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true ,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value);
                        }

                    },
                    {
                        title:'预计持续时间',
                        field:'reqRreDurationTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'估计消耗货币',
                        field:'reqPreCunsumeCurrency',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求服务开始时间',
                        field:'reqStartTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true ,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value);
                        }

                    },
                    {
                        title:'请求服务结束时间',
                        field:'reqEndTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true ,
                        formatter: function (value, row, index) {
                            return changeDateFormat(value);
                        }

                    },
                    {
                        title:'请求实际消耗货币',
                        field:'reqActualConsumeCurrency',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
//                    {
//                        title:'请求批准状态',
//                        field:'reqTypeApproveStatus',
//                        align: 'center',
//                        valign: 'middle',
//                        sortable: true
//                    },
                    /*{
                        title:'接收请求人的ID',
                        field:'reqTargetsUserGuid',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },*/
                    {
                        title:'接收请求人的账户',
                        field:'reqTargetsUserAccount',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求持续时间长度',
                        field:'reqActualDurationTime',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求需要人数',
                        field:'reqPersonNum',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求紧急程度',
                        field:'reqTypeGuidUrgency',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'本请求权值',
                        field:'reqFromWeightGuid',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求处理状态',
                        field:'reqTypeGuidProcessStatus',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title:'请求处理人',
                        field:'reqProcessUserGuid',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        field: 'reqGuid',
                        title: '操作',
                        align: 'center',
                        sortable: true,
                        formatter: operateFormatter
                    }
                ],
                url: "/getRequestListScoreJsonData1", //请求后台的URL（*）
                method: "get",
                striped: true,     //是否显示行间隔色
                cache: false,      //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                search:true,//10.10添加/
                searchAlign: "left",//10.10添加/
                searchOnEnterKey: true, //回车查询//10.10添加/
                pagination: true,  //是否显示分页（*）
                sortable: true,    //是否启用排序
                sortOrder: "asc",  //排序方式
                queryParams:function(params){
                    var limitApply={
                        limit:params.limit,
                        offset:params.offset,
                        searchText:params.search,//10.10添加/
                        sortName:this.sortName,
                        sortOrder:this.sortOrder,
                    };
                    return limitApply;
                },//传递参数
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,  //初始化加载第一页，默认第一页
                pageSize: 5,  //每页的记录行数（*）
                pageList:[5,10,20],
                sortName:"reqGuid",
                searchText: '',//10.10添加/
                showColumns: true,  //是否显示所有的列
                showRefresh: true,  //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true,//是否启用点击选中行
                toolbar:"#toolbar"
            });
            setTimeout(function () {
                $table.bootstrapTable('resetView');
            }, 200);
            function operateFormatter1(value, row, index) {
                var ti=new Date(value);
                var val=ti.toLocaleString() ;
                return val;
            };
            function operateFormatter(value, row, index) {
                return [
                    '<div class="row">',
                    '<a class="btn btn-default" href="/requestScore11/'+
                    String(row.reqGuid) +
                    '" title="查看">查看',
                    '</a>  '+
                    '</div>'
                ].join('');
            }
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-danger">
            <div th:replace="basepage::contextheader"></div>
        </div>
    </div>
    <div class="row clearfix bg-success">
        <div class="col-md-3 bg-primary ">
            <div th:replace="basepage::contextleftnav"></div>
        </div>
        <div class="col-md-9 bg-danger">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        请求列表
                    </h3>
                </div>
                <div class="panel-body" >
                    <div class="table-responsive">
                        <table id="REQEST" name="REQEST" class="table table-bordered table-hover table-striped"
                               data-toolbar="#toolbar"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-detail-view="false"
                               data-minimum-count-columns="2"
                               data-show-pagination-switch="true"
                               data-pagination="true"
                               data-id-field="applyId"
                               data-page-list="[5, 10, 25, 50, 100, ALL]"
                               data-show-footer="false"
                               data-side-pagination="server">
                        </table>
                        <input id="btnCancel" class="btn" type="button" value="返 回" onclick="history.go(-1)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 bg-primary">
            <div th:replace="basepage::contextfooter"></div>
        </div>
    </div>
</div>
</body>
</html>