<html xmlns:th="http://www.thymeleaf.org">

<head  th:include="basepage :: common_header(~{::title},~{::script})">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script th:inline="javascript">
        var message = [[${guid}]];
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZsT9uATUVFSWeXgFMQDsH4hP5UbQD2YC"></script>
    <title>定位</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-danger">
            <div th:replace="basepage::contextheader"></div>
        </div>
    </div>
    <div class="row clearfix bg-success">
        <div class="col-md-2 bg-primary ">
            <div th:replace="basepage::contextleftnav"></div>
        </div>
        <div class="col-md-10 bg-danger">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        完善用户信息
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="mapform" action="/aass" method="post" role="form">

                        <div class="form-group  col-lg-6">
                            <label class="control-label col-lg-3"  >服务查询范围：</label>
                            <div class="col-lg-9">
                                <input id="cityName" name="cityName"  type="text"    />
                            </div>
                        </div>

                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3"  >经度：</label>
                            <div class="col-lg-9">
                                <input type="text" id="jd" name="jd"/>
                            </div>
                        </div>
                        <div class="form-group  col-lg-6" hidden="hidden" >
                            <label class="control-label col-lg-3"  >纬度：</label>
                            <div class="col-lg-9">
                                <input type="text" id="wd" name="wd"/>
                            </div>
                        </div>
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3"  >guid：</label>
                            <div class="col-lg-9">
                                <input type="text" id="Guid" name="Guid"/>
                            </div>
                        </div>
                        <div class="form-group  col-lg-6" hidden="hidden">
                            <label class="control-label col-lg-3"  >后台传过来的数据：</label>
                            <div class="col-lg-9">
                                <input type="text" id="shuju" name="shuju"/>
                            </div>
                        </div>
                        <div class="form-group  col-lg-6">
                            <div class="col-lg-9">
                                <input type="button" value="查询" id="send" onclick="theLocation()" />
                            </div>
                        </div>
                        <!--<div class="form-actions">-->
                        <!--<input id="btnSubmit" class="btn btn-primary" type="submit" value="保 存"/>&nbsp;-->
                        <!--</div>-->

                        <div class="form-group  col-lg-6" id="allmap" style="width:900px;height:600px">
                        </div>
                        <div class="form-group  col-lg-6" id="r-result">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 15);

    //创建小狐狸
    var pt = new BMap.Point(116.417, 39.909);
    var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300,157));
    var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
    marker2.setZIndex(888);
//    marker2.addEventListener("mouseover",function(){
//        marker2.setZIndex(999);
//    });
//    marker2.addEventListener("mouseout",function(){
//        marker2.setZIndex(888);
//    });
    map.addOverlay(marker2);              // 将标注添加到地图中

    var pt3 = new BMap.Point(116.417, 39.911);
    var myIcon3 = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300,157));
    var marker3 = new BMap.Marker(pt3,{icon:myIcon3});  // 创建标注
    marker3.setZIndex(889);
//    marker3.addEventListener("mouseover",function(){
//        marker3.setZIndex(999);
//    });
//    marker3.addEventListener("mouseout",function(){
//        marker3.setZIndex(888);
//    });mouseover
    map.addOverlay(marker3);
    alert(11);
    // 将标注添加到地图中
    marker2.addEventListener("click",function(e){
        alert(333);
//            alert(marker2)
            marker2.setTop(true);
//        marker2.setZIndex(2000000);
//
        alert(222)
    });
    alert(333)
//    marker2.addEventListener("mouseout",function(){
//        marker2.setTop(false);
//    });
</script>