<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="basepage :: common_header(~{::title},~{::script})">
    <title>个人信息</title>
    <script th:inline="javascript">
        var message=[[${date}]];
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-danger">
            <div th:replace="basepage::contextheader"></div>
        </div>
    </div>
    <div class="row clearfix bg-success">
        <div class="col-md-2 bg-primary ">
            <div th:replace="basepage::contextleftnav"></div>
        </div>
        <div class="col-md-10 bg-danger">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        个人信息
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="USERSInputForm" name="USERSInputForm" method="post" class="form-horizontal"
                          role="form"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" >
                        <div class="row" >
                            <div class="form-group  col-lg-6" hidden="hidden">
                                <label class="control-label col-lg-3" for="userGuid" >用户ID：</label>
                                <div class="col-lg-9">
                                    <input id="userGuid" name="userGuid" type="text" class="form-control" th:value="${users.userGuid}"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userAccount" >账号：</label>
                                <div class="col-lg-9">
                                    <input id="userAccount" name="userAccount" type="text" class="form-control" th:value="${users.userAccount}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userName" >姓名：</label>
                                <div class="col-lg-9">
                                    <input id="userName" name="userName" type="text" class="form-control" th:value="${users.userName}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userMail" >电子邮箱：</label>
                                <div class="col-lg-9">
                                    <input id="userIdnum" name="userIdnum" type="email" class="form-control" th:value="${users.userMail}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userIdnum" >身份证号：</label>
                                <div class="col-lg-9">
                                    <input id="userMail" name="userMail" type="text" class="form-control" th:value="${users.userIdnum}" disabled="disabled"/>
                                </div>
                            </div>
                           <!--
                           <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userIdnum" >身份证号：</label>
                                <div class="col-lg-9">
                                    <input id="userIdnum" name="userIdnum" type="email" class="form-control" th:value="${users.userIdnum}" disabled="disabled"/>
                                </div>
                            </div>-->
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userPhone" >手机号：</label>
                                <div class="col-lg-9">
                                    <input id="userPhone" name="userPhone" type="tel" class="form-control" th:value="${users.userPhone}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userBirthdate" >出生日期：</label>
                                <div class="col-lg-9">
                                    <input id="userBirthdate" name="userBirthdate"  class="form-control"  disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userEmerperson" >紧急联系人：</label>
                                <div class="col-lg-9">
                                    <input id="userEmerperson" name="userEmerperson" type="text" class="form-control" th:value="${users.userEmerperson}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userEmercontact" >紧急联系方式：</label>
                                <div class="col-lg-9">
                                    <input id="userEmercontact" name="userEmercontact" type="tel" class="form-control" th:value="${users.userEmercontact}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userProvince" >居住区域：</label><br><br>
                                <label class="control-label col-lg-4">省：</label>
                                <div class="form-group col-lg-6">
                                    <input id="userProvince" name="userProvince" type="text" class="form-control col-lg-4" th:value="${users.userProvince}" disabled="disabled"/>
                                </div>
                                <label class="control-label col-lg-4" for="userCity">市：</label>
                                <div class="form-group col-lg-6">
                                    <input id="userCity" name="userCity" type="text" class="form-control col-lg-4" th:value="${users.userCity}" disabled="disabled"/>
                                </div>
                                <label class="control-label col-lg-4" for="userCity">区：</label>
                                <div class="form-group col-lg-6">
                                    <input id="userDistrict" name="userDistrict" type="text" class="form-control col-lg-4" th:value="${users.userDistrict}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userRole" >角色：</label>
                                <div class="col-lg-9">
                                    <input id="userRole" name="userRole" type="text" class="form-control" th:value="${users.userRole}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userTypeGuidGender" >性别：</label>
                                <div class="col-lg-9">
                                    <input id="userTypeGuidGender" name="userTypeGuidGender" type="text" class="form-control" th:value="${users.userTypeGuidGender}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userTypeAccountStatus" >用户状态：</label>
                                <div class="col-lg-9">
                                    <input id="userTypeAccountStatus" name="userTypeAccountStatus" type="text" class="form-control" th:value="${users.userTypeAccountStatus}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userOwnCurrency" >持有时间：</label>
                                <div class="col-lg-9">
                                    <input id="userOwnCurrency" name="userOwnCurrency" type="text" class="form-control" th:value="${users.userOwnCurrency}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userAddress" >详细住址：</label>
                                <div class="col-lg-9">
                                    <input id="userAddress" name="userAddress" type="text" class="form-control" th:value="${users.userAddress}" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6">
                                <label class="control-label col-lg-3" for="userCommGuid" >所属小区：</label>
                                <div class="col-lg-9">
                                    <input id="userCommGuid" name="userCommGuid" type="text" class="form-control" th:value="${users.userCommGuid}"  disabled="disabled"/>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-actions">-->
                            <!--<input id="btnCancel" class="btn" type="button" value="返 回" onclick="history.go(-1)"/>-->
                        <!--</div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        if (message != null) {
            var a = message.split("T");
        }
        if (a[0] != null) {
            document.getElementById('userBirthdate').value = a[0];
        }
    </script>
    <div class="row clearfix">
        <div class="col-md-12 bg-primary">
            <div th:replace="basepage::contextfooter"></div>
        </div>
    </div>
</div>
</body>
</html>

